body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    padding: 0 20px;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.title {
    background-color: #333;
    color: #fff;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}
