body {
    background-color: #f0f0f0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    padding: 0 20px;
}

.navbar {
    background-color: #606060;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    max-height: 3.5rem;
    font-size: larger;
    font-weight: 500;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
}

.navItems {
    list-style-type: none;
    margin: 0.5rem;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#logo {
    width: auto;
    height: 100%;
    padding: 0 1rem;
}

.navItems li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.title {
    background-color: #333;
    color: #fff;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}
